[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
requests = "*"
sqlalchemy = "*"
flask-marshmallow = "*"
python-dotenv = "*"

[dev-packages]
